<app-task-form (newItemEvent)="addTodo($event)"></app-task-form>
<mat-list role="list">
  <mat-divider></mat-divider>
  <mat-list-item role="listitem" *ngFor="let todo of todosList">
    <div [class]="'listItemContainer'">
      <mat-checkbox color="primary" [checked]="todo.complete" (click)="onCheckboxChange(todo)" aria-label="mark todo as done"></mat-checkbox>
      <a mat-button
         routerLink="/todo/{{todo.id}}"
         [ngClass]="{
           'textDeprecated': toggleDeprecatedClass(todo.complete),
           'highPriority': setBackgroundColorClass(todo.priority) === 'highPriority',
           'mediumPriority': setBackgroundColorClass(todo.priority) === 'mediumPriority',
           'lowPriority': setBackgroundColorClass(todo.priority) === 'lowPriority'
         }"
      >
        {{todo.name}}
      </a>
      <button
        mat-mini-fab color="warn"
        aria-label="delete todo"
        (click)="deleteTodo(todo)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
