.contentWrapper {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.textDeprecated {
  color: grey;
  text-decoration: line-through;
  background-color: aliceblue;
}

.listItemContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.actionItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemsWrapper {
  border: 2px solid darkgrey;
  max-width: 1000px;

  > p {
    padding: 10px;
  }
}

.description {
  padding: 10px;
  flex: 1;
}

.highPriority {
  background-color: indianred;
}

.mediumPriority {
  background-color: lightyellow;
}

.lowPriority {
  background-color: darkseagreen;
}

