<app-task-form (newItemEvent)="addTodo($event)"></app-task-form>
<mat-list role="list">
  <mat-divider></mat-divider>
  <mat-list-item role="listitem" *ngFor="let todo of todosList">
    <div [class]="'listItem'">
      <mat-checkbox color="primary" [checked]="todo.complete" (click)="onCheckboxChange(todo)"></mat-checkbox>
      <a mat-button routerLink="/todo/{{todo.id}}" [ngClass]="toggleDeprecatedClass(todo.complete)">{{todo.name}}</a>
      <button mat-mini-fab color="warn" aria-label="delete todo" (click)="deleteTodo(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
