<app-task-form (newItemEvent)="addTodo($event)"></app-task-form>
<div [className]="'contentWrapper'">
  <div [className]="'itemsWrapper'">
    <mat-toolbar>
      <span>To do</span>
    </mat-toolbar>
    <p *ngIf="todosList.length === 0">List is Empty</p>
    <div *ngFor="let todo of todosList">
      <div [class]="'listItemContainer'">
        <mat-checkbox color="primary" [checked]="todo.complete" (click)="onCheckboxChange(todo)" aria-label="mark todo as done"></mat-checkbox>
        <div
          [ngClass]="{
           'textDeprecated': toggleDeprecatedClass(todo.complete),
           'highPriority': setBackgroundColorClass(todo.priority) === 'highPriority',
           'mediumPriority': setBackgroundColorClass(todo.priority) === 'mediumPriority',
           'lowPriority': setBackgroundColorClass(todo.priority) === 'lowPriority',
           'description': true
         }"
        >
          {{todo.name}}
        </div>
      <div [class]="'actionItems'">
        <a
          mat-mini-fab
          routerLink="/todo/{{todo.id}}"
          color="warn"
          aria-label="edit todo"
        >
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-mini-fab color="warn"
          aria-label="delete todo"
          (click)="deleteTodo(todo)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    </div>
  </div>
  <div [className]="'itemsWrapper'">
    <mat-toolbar>
      <span>Done</span>
    </mat-toolbar>
    <p *ngIf="todosListDeleted.length === 0">List is Empty</p>
    <div *ngFor="let todo of todosListDeleted">
      <div [class]="'listItemContainer'">
        <div
          [ngClass]="{
           'textDeprecated': toggleDeprecatedClass(todo.softDeleted),
           'description': true
         }"
        >
          {{todo.name}}
        </div>
        <div [class]="'actionItems'">
          <button
            mat-mini-fab color="warn"
            aria-label="delete todo"
            (click)="restoreTodo(todo)"
          >
            <mat-icon>restore_page</mat-icon>
          </button>
        </div>
    </div>
    </div>
  </div>
</div>
