.textDeprecated {
  color: grey;
  text-decoration: line-through;
}

.highPriority {
  background-color: indianred;
}

.mediumPriority {
  background-color: lightyellow;
}

.lowPriority {
  background-color: darkseagreen;
}
