<mat-card>
  <mat-card-content>
    <form [formGroup]="todoForm" (submit)="onSubmit()">
      <mat-form-field>
        <mat-label>Edit Todo</mat-label>
        <input
          matInput
          [ngClass]="setClasses()"
          type="text"
          #inputRef
          (change)="onInputChange(inputRef.value)"
          formControlName="todoItemForm"
          [attr.disabled]="isDisabled"
        >
        <mat-error *ngIf="todoForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priorities</mat-label>
        <select matNativeControl required (change)="onSelectChange($event)" [disabled]="isChecked">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </mat-form-field>
      <button type="button">Edit</button>
      <button type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>
<button type="button" (click)="goBack()">go back</button>

