<form [formGroup]="todoForm" (submit)="onSubmit()">
  <div [className]="'formsWrapper'">
  <mat-checkbox
    (click)="onCheckboxChange()"
    color="primary"
    aria-label="mark todo as done"
    formControlName="todoItemCheckboxForm"
  ></mat-checkbox>
  <mat-form-field>
    <mat-label>Edit Todo</mat-label>
    <input
      matInput
      [ngClass]="setClasses()"
      type="text"
      #inputRef
      (change)="onInputChange(inputRef.value)"
      formControlName="todoItemInputForm"
    >
    <mat-error *ngIf="todoForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Priorities</mat-label>
    <mat-select
      matNativeControl
      required
      (selectionChange)="onSelectChange($event)"
      [disabled]="isDisabled"
      [value]="todoPriority"
    >
      <mat-option value="low">Low</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button type="button" [disabled]="!isDisabled" (click)="enableControl()">Edit</button>
  <button mat-stroked-button type="button" [disabled]="isDisabled" (click)="resetValues()">Reset</button>
  <button mat-stroked-button type="submit" [disabled]="isDisabled">Save</button>
  </div>
</form>
<mat-divider></mat-divider>
<button mat-stroked-button type="button" (click)="goBack()">go back</button>
